/* From codepen https://codepen.io/dread-design/pen/dOGVXM */
@function isColorDark($color) {
    // Parse RGB by isolating each color
    $red: red($color);
    $green: green($color);
    $blue: blue($color);
    // Compute the perceptive luminance
    $l: 1 - (0.299 * $red + 0.587 * $green + 0.114 * $blue) / 255;
    @if ($l < 0.41) {
        // if the luminance is less than 0.5 return black
        @return 600;
    } @else {
        // if the luminance is more than 0.5 return white
        @return 300;
    }
}
